anyio==3.5.0
asgiref==3.5.0
cffi==1.15.0
click==8.1.2
colorama==0.4.4
distlib==0.3.4
fastapi==0.75.1
filelock==3.6.0
h11==0.13.0
idna==3.3
numpy==1.22.3
opencv-python==4.5.5.64
platformdirs==2.5.1
prompt-toolkit==3.0.29
pycparser==2.21
pydantic==1.9.0
Pygments==2.11.2
radian==0.6.0
rchitect==0.3.36
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.6
virtualenv==20.13.4
wcwidth==0.2.5